.chichai {
    width: 509px;
    height: 406px;
    /*position: absolute;*/
    margin: 80px auto;

}

body {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background-image: url("../images/fondo-chichai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}



.head {
    width: 232px;
    height: 178px;
    background-color: #f67395;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 67px;
    border-bottom-left-radius: 67px;
    animation-name: traslate-chichai;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: play;
}

.contour-left {
    margin: 14px 10px;
    width: 115px;
    height: 151px;
    background-color: #efb878;
    border-top-left-radius: 67px;
    border-top-right-radius: 90px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 63px;
    position: absolute;
}

.contour-rigth {
    margin: 14px 107px;
    width: 118px;
    height: 151px;
    background-color: #efb878;
    border-top-left-radius: 90px;
    border-top-right-radius: 67px;
    border-bottom-right-radius: 63px;
    border-bottom-left-radius: 0px;
    position: absolute;
}

.eye-left {
    position: absolute;
    width: 47px;
    height: 47px;
    border-radius: 50px;
    background-color: #060503;
    margin: 56px 40px;
    transition: height 1s ease-out, margin 1s ease-out;
}

.eye-rigth {
    position: absolute;
    width: 47px;
    height: 47px;
    border-radius: 50px;
    background-color: #060503;
    margin: 57px 147px;
    transition: height 1s ease-out, margin 1s ease-out;
}

.ear-left {
    margin: 70px -48px;
    width: 57px;
    height: 62px;
    background-color: #f67395;
    border-top-left-radius: 70px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 67px;
    position: absolute;
}

.ear-rigth {
    margin: 70px 226px;
    width: 57px;
    height: 62px;
    background-color: #f67395;
    border-top-left-radius: 40px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 67px;
    border-bottom-left-radius: 40px;
    position: absolute;
}

.iris-left {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background: radial-gradient(#aba7a4 0%, #060503 50%);
    margin: 64px 42px;
    transition: height 1s ease-out, margin 1s ease-out;
}

.iris-rigth {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50px;
    background: radial-gradient(#aba7a4 0%, #060503 50%);
    margin: 64px 149px;
    transition: height 1s ease-out, margin 1s ease-out;
}

.rubor-left {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #d88c40;
    margin: 112px 40px;
    transition: background-color 1s ease-in, box-shadow 1s ease-in;
}

.rubor-rigth {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: #d88c40;
    margin: 110px 170px;
    transition: background-color 1s ease-in, box-shadow 1s ease-in;
}

.mouth-rigth {
    position: absolute;
    width: 139px;
    height: 41px;
    border-bottom-right-radius: 2000px;
    border-bottom-left-radius: 2000px;
    border-bottom: solid;
    border-color: #f67395;
    border-width: 4px;
    margin: 114px 46px;
}

.body-chichai {
    width: 232px;
    height: 178px;
    position: relative;
    animation-name: traslate-chichai;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: play;

}

.body-sup-chichai {
    margin-top: -5px;
    margin-left: 83px;
    width: 68px;
    height: 86px;
    background-color: #f67395;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
}

.hand-left {
    margin-left: 60px;
    width: 47px;
    height: 26px;
    background-color: #f67395;
    border-top-left-radius: 173px;
    border-bottom-left-radius: 88px;
    position: absolute;
    animation-name: rotate-left;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: play;
}

.hand-rigth {
    margin-left: 129px;
    width: 47px;
    height: 26px;
    background-color: #f67395;
    border-top-right-radius: 173px;
    border-bottom-right-radius: 67px;
    position: absolute;
    animation-name: rotate-rigth;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: play;
}


.leg-left {
    margin-left: 60px;
    margin-top: 55px;
    width: 53px;
    height: 26px;
    background-color: #f67395;
    border-top-left-radius: 173px;
    border-bottom-left-radius: 88px;
    position: absolute;
    animation-name: rotate-left;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: play;
}


.leg-rigth {
    margin-left: 122px;
    margin-top: 55px;
    width: 53px;
    height: 26px;
    background-color: #f67395;
    border-top-right-radius: 173px;
    border-bottom-right-radius: 67px;
    position: absolute;
    animation-name: rotate-rigth;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: play;
}

.shadow {
    width: 76px;
    height: 40px;
    background-color: gray;
    border-radius: 35px;
    margin: 62px 696px;
    animation-name: size-shadow;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: play;
}

.tail {
    width: 100px;
    height: 100px;
    margin-left: -12px;
    margin-top: -22px;
    animation-name: traslate-tail;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: play;

}

.banana {
    width: 80px;
    height: 80px;
    margin-left: 82px;
    margin-top: -72px;
    position: absolute;
    position: absolute;
    animation-name: traslate-banana;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-play-state: play;

}

.head:hover .rubor-rigth, .head:hover .rubor-left{
    background-color: #FA5882;
    box-shadow: 0px 0px 20px #FE2E2E;
}

.head:hover .eye-rigth, .head:hover .iris-rigth {
    height: 2px;
    margin: 80px 147px;

}

.head:hover .eye-left, .head:hover .iris-left{
    height: 2px;
    margin: 80px 40px;
}


@keyframes traslate-chichai {
    0% {
        transform: translate( 200px, 200px);
    }

    50% {
         transform: translate( 200px, 0px);
    }

    100% {
        transform: translate( 200px, 200px);
    }
}

@keyframes traslate-tail {
    0% {
        transform: translate( 0px, 0px);
    }

    50% {
         transform: translate( 0px, 0px);
    }

    100% {
        transform: translate( 0px, 0px);
    }
}

@keyframes traslate-banana {
    0% {
        transform: translate( 188px, 188px);
    }

    50% {
         transform: translate( 188px, 0px);
    }

    100% {
        transform: translate( 188px, 188px);
    }
}

@keyframes rotate-rigth {
    0% {
        transform: rotate(70deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(70deg);
    }
}

@keyframes rotate-left {
    0% {
        transform: rotate(-70deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-70deg);
    }
}

@keyframes size-shadow {
    0% {
        width: 85px;
    }

    50% {
        width: 155px;
        height: 50px;
        margin: 62px 670px
    }

    100% {
        width: 85px;
    }
}
